name: API CI - RealEstate
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: Test API en Node.js ${{ matrix.node }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [22]

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - name: Cachear dependencias npm
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      # - name: Show directory Content
      # run: ls -la

      - name: Instalar dependencias
        run: npm ci --legacy-peer-deps --no-fund --no-audit

      - name: Oxlint
        run: npm run lint

      # - name: Npm Audit Fix
      # run: npm audit

      - name: Ejecutar pruebas con Jest
        run: npm test

      - name: Despliegue
        run: echo "TODO Despliegue"

      - name: Reportar éxito
        if: success()
        run: echo "✅ API funcional en Node ${{ matrix.node }}"

      - name: Reportar error
        if: failure()
        run: echo "❌ Falla detectada en los tests para Node ${{ matrix.node }}"
